Django==2.2.20
Celery==4.4.2
redis==3.5.2
flower==0.9.4

gunicorn==20.0.4
djangorestframework==3.11.0
python-dotenv==0.13.0
psycopg2-binary==2.8.5
sqlparse==0.2.4
django-environ==0.4.5
django-celery-beat==2.0.0
django-celery-results==1.2.1
pyDatavers@git+https://gitlab.whiteaster.com/public_data/pydataverse-upgrade.git
